<!-- Banner -->
  <section id="banner">
    <div class="content">
      <span class="image right">
        <img src="assets/images/asab logo.jpg" alt=""  />
      </span>
      
      <header>
        <h1>ASAB Spring Conference 2024</h1>
        <p>An animal behaviour conference</p>
      </header>
      
      <h4>Spring conference of the Association for the Study of Animal Behaviour at the University of Exeter, U.K.</h4>
      <p>This conference is your opportunity to showcase your animal behaviour research to a global audience! The three days will be split into a one-day workshop and two days of conference sessions.</p>
      <ul>
        <li>Tuesday 23rd April: Workshop in use of AI in research</li>
        <li>Wednesday, 24th April  and Thursday, 25th April: Conference sessions</li>
      </ul>
            
     <p>ASAB's Spring meeting is aimed at postgraduate students and postdocs but is open to anyone interested in animal behaviour. There will be three plenaries by leading researchers and the presentation by the winner of the Christopher Barnard award 2024. </p>
        
      <p>Exeter is set amongst spectacular scenery on the Devon Coast, between the wilds of Dartmoor and the Exe estuary, and is easy to get to using public transport. </p>
        
      <p>Come join us! </p>

      <ul class="actions">
        <li><a href="{{ 'about' | absolute_url }}" class="button big">Find Out More</a></li> 
      </ul>
    </div>
  </section>
