<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <!-- Logo -->
            <a href="{{ site.url | absolute_url }}" id="sidelogo">
                <img src="/assets/images/ASABSpring2024.png" alt="CRAB logo" width="165" height="221"/>
            </a>

            <header class="major">
                <h3>Navigation</h3>
            </header>
            <ul>
                <li><a href="{{  site.url | absolute_url }}">Home</a></li>           
                <li><a href="{{ 'programme' | absolute_url }}">Programme</a></li>
                <li><a href="{{ 'plenary' | absolute_url }}">Plenary Speakers</a></li>
                <li><a href="{{ 'workshop' | absolute_url }}">Workshop</a></li>
                <li><a href="{{ 'venue' | absolute_url }}">Venue</a></li>
                <li><a href="{{ 'prizes' | absolute_url }}">Prizes</a></li>
                <li><a href="{{ 'register' | absolute_url }}">Register</a></li>
                <li><a href="{{ 'attendees' | absolute_url }}">Information for Attendees</a></li>
                <li><a href="{{ 'presenters' | absolute_url }}">Information for Presenters</a></li>
                <li><a href="{{ 'contact' | absolute_url }}">Contact Us</a></li>
            </ul>
        </nav>
        <section>
            <header class="major">
                <h3>Important Dates</h3>
            </header>
            <ul>
                <li>Registration and abstract submission  open: 12th December</li>                
                <li>Abstract submission closes: Friday 9th February.</li>
                <li>Registration closes: Friday 15th March.</li>
            </ul>            
        </section>      
        <!-- Section -->
        <section>
            <header class="major">
                <h3>Get In Touch</h3>
            </header>
            <ul class="contact">
                <li class="fa-envelope-o">
                    <a href="mailto:ASABSpring2024@gmail.com">Email us</a
                    >
                </li>
                <li class="fa-github">
                    <a href="site.github_url" target="_blank">github.com/ASABSpring2024</a>                    
                </li>
            </ul>
            <img src="/assets/images/Crab Logo RGB.jpg" alt="CRAB logo" width="247" height="82"/>            
        </section>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                &copy; 2023 {{ site.title }}. All rights reserved.                
                We thank Julia Wadzek & Macaela Skelton for their help & input creating this website. 
            </p>
        </footer>
    </div>
</div>
